
/* default card styles */
.frame {
  box-sizing: border-box;
  box-shadow: none !important;
  border: 1px solid var(--grey-40) !important;
  background-color: var(--white-10) !important;
  border-radius: 8px !important;
}
/* primary card styles */
.featured {
  border: none !important;
  box-sizing: border-box;
  background-color: var(--white-10) !important;
  border-radius: 8px !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10) !important;
}
/* secondary card styles */
.predominent {
  border: none !important;
  box-sizing: border-box;
  background-color: var(--white-10) !important;
  border-radius: 8px !important;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1) !important;
}

